* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: white;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Images */
.img1 {
  background-image: url("../images/jose_miguel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
  
}

.img2 {
  background-image: url("../images/bannerwin10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
}

.img3 {
  background-image: url("../images/mac.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
}

.img4 {
  background-image: url("../images/linuxbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
}

.img5 {
  background-image: url("../images/win10banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
}

.img6 {
  background-image: url("../images/kali.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
}

.img7 {
  background-image: url("../images/jose_miguel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: center;
  width: 30%;
  height: auto;
  display: block;
  padding: 20px;
  color: white;
  font-style: italic;
  font-family: "Comic Sans", cursive;
  
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  bottom: 0;
  width: 100%;
  bottom: 0;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
